<amplify-authenticator [formFields]="formFields" [services]="services">
    <ng-template amplifySlot="header">
        <div style="padding: var(--amplify-space-large); text-align: center">
            <img class="amplify-image" alt="Amplify logo" src="/assets/awc-logo-desktop-1024x332.png" />
        </div>
    </ng-template>

    <!-- sign-up-field override -->
    <ng-template amplifySlot="sign-up-form-fields" let-validationErrors="validationErrors">
        <!-- Re-use default `Authenticator.SignUp.FormFields` -->
        <amplify-sign-up-form-fields></amplify-sign-up-form-fields>

        <!-- Append & require Terms & Conditions field to sign up -->
        <amplify-checkbox [errorMessage]="validationErrors.acknowledgement"
            [hasError]="!!validationErrors.acknowledgement" name="acknowledgement" value="yes">
            I agree with the Terms & Conditions
        </amplify-checkbox>
    </ng-template>

    <ng-template amplifySlot="sign-in-header">
        <h2 class="amplify-heading"
            style="padding: var(--amplify-space-xl) 0 0 var(--amplify-space-xl); margin-bottom: 0">
            Sign in to your account
        </h2>
    </ng-template>

    <ng-template amplifySlot="sign-in-footer">
        <div style="text-align: center">
            <button (click)="authenticator.toResetPassword()" class="amplify-button amplify-field-group__control"
                data-fullwidth="false" data-size="small" data-variation="link" type="button"
                style="font-weight: normal; margin-bottom: var(--amplify-space-xl)">
                Reset Password
            </button>
        </div>
    </ng-template>

    <ng-template amplifySlot="sign-up-header">
        <h2 class="amplify-heading"
            style="padding: var(--amplify-space-xl) 0 0 var(--amplify-space-xl); margin-bottom: 0">
            Create a new account
        </h2>
    </ng-template>

    <ng-template amplifySlot="sign-up-footer">
        <div style="text-align: center">
            <button (click)="authenticator.toSignIn()" class="amplify-button amplify-field-group__control"
                data-fullwidth="false" data-size="small" data-variation="link" type="button"
                style="font-weight: normal; margin-bottom: var(--amplify-space-xl)">
                Back to Sign In
            </button>
        </div>
    </ng-template>

    <ng-template amplifySlot="footer">
        <div style="padding: var(--amplify-space-large); text-align: center">
            <p class="amplify-text" style="color: var(--amplify-colors-neutral-80)">
                © Matthew Gennings 2022 - All Rights Reserved
            </p>
        </div>
    </ng-template>

    <ng-template amplifySlot="confirm-sign-up-header">
        <h2 class="amplify-heading" style="padding: var(--amplify-space-xl) 0 0 var(--amplify-space-xl)">
            Enter Information:
        </h2>
    </ng-template>

    <ng-template amplifySlot="confirm-sign-up-footer">
        <div style="padding-top: var(--amplify-space-xl)">Confirm information then click 'Sign Up'</div>
    </ng-template>

    <ng-template amplifySlot="setup-totp-header">
        <h2 class="amplify-heading" style="padding: var(--amplify-space-xl) 0 0 var(--amplify-space-xl)">
            Enter Information:
        </h2>
    </ng-template>

    <ng-template amplifySlot="setup-totp-footer">
        <div>Footer Information</div>
    </ng-template>

    <ng-template amplifySlot="confirm-sign-in-header">
        <h2 class="amplify-heading" style="padding: var(--amplify-space-xl) 0 0 var(--amplify-space-xl)">
            Enter Information:
        </h2>
    </ng-template>

    <ng-template amplifySlot="confirm-sign-in-footer">
        <div>Footer Information</div>
    </ng-template>

    <ng-template amplifySlot="reset-password-header">
        <h2 class="amplify-heading" style="padding: var(--amplify-space-xl) 0 0 var(--amplify-space-xl)">Enter Username:
        </h2>
    </ng-template>

    <ng-template amplifySlot="reset-password-footer">
        <div>Enter the username you signed up with.</div>
    </ng-template>

    <ng-template amplifySlot="confirm-reset-password-header">
        <h2 class="amplify-heading" style="padding: var(--amplify-space-xl) 0 0 var(--amplify-space-xl)">
            Enter Information:
        </h2>
    </ng-template>

    <ng-template amplifySlot="confirm-reset-password-footer">
        <div>Footer Information</div>
    </ng-template>

    <ng-template amplifySlot="authenticated" let-user="user" let-signOut="signOut">
        <p>
            <mat-toolbar>
                <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                    <mat-icon>menu</mat-icon>
                </button>
                <h3>Welcome, {{ user.username }}!</h3>
                <span class="example-spacer"></span>
                <button (click)="signOut()">Sign Out</button>
            </mat-toolbar>
        </p>
        <ng-content></ng-content>
    </ng-template>
</amplify-authenticator>