    .table-container {
        overflow: auto;
        .mat-form-field {
            width: 100%;
            ::ng-deep .mat-form-field-prefix {
                display: flex;
                align-self: flex-end;
            }
            &-label {
                vertical-align: middle;
            }
        }
    }
